## Imports

In [1]:
import pandas as pd

## Reading Data

In [25]:
df = pd.read_csv("https://stepik.org/media/attachments/lesson/681964/2.2.11.csv")



df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 300 entries, 0 to 299
Data columns (total 10 columns):
 #   Column         Non-Null Count  Dtype
---  ------         --------------  -----
 0   car_id         300 non-null    object
 1   model          300 non-null    object
 2   car_type       300 non-null    object
 3   fuel_type      300 non-null    object
 4   car_rating     300 non-null    float64
 5   year_to_start  300 non-null    int64
 6   riders         300 non-null    int64
 7   year_to_work   300 non-null    int64
 8   target_reg     300 non-null    float64
 9   target_class   300 non-null    object
dtypes: float64(2), int64(3), object(5)
memory usage: 23.6+ KB

## Parameters

In [26]:
sort_by_list = ["car_rating", "riders"]
cols2drop = ["random_name_1", "target_reg", "target_class", "random_name_2"]
columns_order_list = [
    "model",
    "car_type",
    "car_id",
    "car_rating",
    "year_to_start",
    "year_to_work",
    "riders",
    "fuel_type",
]
critical_car_rating = 2

## Analysis

- Отсортируйте строки сначала по убыванию 1-го столбца из списка sort_by_list, затем по возрастанию 2-го столбца из списка.  
- Удалите столбцы из списка cols2drop с учетом того, что некоторых столбцов может не быть в df.
- Сделайте порядок столбцов в df в соответствии с переменной columns_order_list: List[str].
- Удалите строки, в которых car_rating < critical_car_rating.
- Удалите строки, где число поездок riders больше 10_000, или тип машины car_type относится либо к standart, либо к economy.

In [27]:
df = df.sort_values(sort_by_list[0], ascending=False).sort_values(
    sort_by_list[1], ascending=True
)
df = df.drop(cols2drop, errors="ignore", axis=1)
df = df[columns_order_list]
df = df.query(f"~(car_rating < {critical_car_rating})")
df = df.query(f"~(riders > 10000 or car_type.isin(['standart', 'economy']))")

In [28]:
df

,model,car_type,car_id,car_rating,year_to_start,year_to_work,riders,fuel_type
4,Mini Cooper,business,i-4390733F,4.96,2012,2018,1007,petrol
295,Mini Cooper,business,b34607341j,4.04,2011,2018,2740,petrol