## Imports

In [2]:
import pandas as pd

## Reading Data

In [9]:
df = pd.read_csv('https://stepik.org/media/attachments/lesson/681964/2_2_8.csv')

df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 100 entries, 0 to 99
Data columns (total 5 columns):
 #   Column              Non-Null Count  Dtype
---  ------              --------------  -----
 0   user_id             100 non-null    object
 1   user_rating         100 non-null    float64
 2   age                 100 non-null    int64
 3   user_rides          100 non-null    int64
 4   user_time_accident  95 non-null     float64
dtypes: float64(2), int64(2), object(1)
memory usage: 4.0+ KB

In [10]:
ans = pd.read_csv('https://stepik.org/media/attachments/lesson/681964/2_2_8_ans.csv', index_col=0)

ans.info()

<class 'pandas.core.frame.DataFrame'>
Index: 2 entries, 3 to 64
Data columns (total 7 columns):
 #   Column              Non-Null Count  Dtype
---  ------              --------------  -----
 0   user_id             2 non-null      object
 1   user_rating         2 non-null      float64
 2   age                 2 non-null      int64
 3   user_rides          2 non-null      int64
 4   user_time_accident  2 non-null      float64
 5   tripple_accident    2 non-null      float64
 6   rides_on_rating     2 non-null      float64
dtypes: float64(4), int64(2), object(1)
memory usage: 128.0+ bytes

## Analysis

**Задача**:
- Создайте столбец `tripple_accident` из столбца `user_time_accident`, умноженного на 3.
- Создайте столбец `rides_on_rating` делением столбца `user_rides` на `user_rating`.
- Оставьте только те строки, у которых `user_time_accident` больше 25 (используем фильтрацию).
- Оставьте только те строки, у которых `age` выше среднего значения по полученной таблице в предыдущем пункте.

**На вход подается**: `df` - полный `DataFrame` с исходными данными.

**На выходе принимается**: Измененный `DataFrame` (переменная `df`).

In [11]:
df["tripple_accident"] = df["user_time_accident"] * 3
df["rides_on_rating"] = df["user_rides"] / df["user_rating"]

df = df.query("user_time_accident > 25")
average_age = df["age"].mean()
df = df.query("age > @average_age")

df

,user_id,user_rating,age,user_rides,user_time_accident,tripple_accident,rides_on_rating
3,E10711310m,8.4,33,322,39.0,117.0,38.333333
64,t25217963K,8.0,30,101,72.0,216.0,12.625000